* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  list-style: none;
}
button{
  cursor: pointer;
  border: none;
}
body {
  background-color: rgb(41, 41, 41);
}
#TotalWinning{
  margin: auto;
  height: 50px;
  width: 200px;
  background-color: rgb(61, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
}
#depositeOpen{
  padding: 10px 0;
  cursor: pointer;
  color: rgb(255, 0, 0);
}

main {
  margin: auto;
  margin-top: 100px;
  width: max-content;
  display: flex;
  gap: 50px;
}
.one {
  width: 200px;
  position: relative;
}
.one > div{
position: absolute;
}
.oneFront{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.oneBack{
    background-color: rgba(61, 61, 61, 0.812);
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center; */
    flex-direction: column;
    gap: 20px;
    display: none;
}
.amount {
  width: 200px;
}
.amount input,#numberOfMines,.depositeAmount {
  background-color: rgb(61, 61, 61);
  width: 200px;
  height: 30px;
  text-align: center;
  outline: none;
  border: none;
}
.amount input {
  width: 200px;
}
.warning{
  font-size: 13px;
  color: yellow;
}
#start,#restart,#cashOut ,#depositeSubmit{
  background-color: red;
  outline: none;
  width: 200px;
  height: 40px;
  font-size: 17px;  
}
#restart {
  margin-top: 132px;
}
.mainBoxContainer {
  width: max-content;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto auto;
}
.addShadow{
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.175);
}
.box {
  background-color: rgb(61, 61, 61);
  outline: none;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}


img {
  width: 100%;
}
.profitAmount {
  background-color: rgb(61, 61, 61);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: x-large;
}
#instruction,#deposite{
  background-color: rgba(10, 10, 10, 0.637);
  height: 99vh;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
#instructionBlock{
  padding: 20px;
  background-color: rgb(61, 61, 61); 
}
#instructionBlock li{
  padding-top: 10px;
  text-align: start;
}
#openInstruction{
  margin-top: 10px;
  background-color: transparent;
  color: rgb(255, 255, 0);
}
#closeInstruction ,#closeDeposite{
  background-color: transparent;
  color: white;
  transform: rotate(45deg);
  font-size:30px;
}
@media screen and (max-width:944px) {
    main{
      margin-top: 10px;
        flex-direction: column-reverse;
        gap: 10px;
    }   
    .one {
        margin: auto;
        height: 230px;
        justify-content: center;
    }
    section:last-child{
        margin: auto;
    }
}
@media screen and (max-width:600px){
#TotalWinning,.profitAmount{
  height: 40px;
}
    .box {
        width: 60px;
        height: 60px;
    }
}
